<div class="row">
    <div id="library" class="col-lg"></div>
    <div id="search" class="col-lg">
        <div class="row">
            <div id="search-bar" class="col-lg"></div>
        </div>
        <div class="row">
            <div id="search-results" class="col-lg"></div>
        </div>
    </div>
</div>