<form>
    <div class="input-group mb-3">
        <input id="book-search" type="text" class="form-control" placeholder="Search for a book" aria-label="Search for a book" aria-describedby="search-books">
        <div class="input-group-append">
            <button id="search-books" class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>
</form>
